.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 8.9rem 5.1rem;
}

@media (max-width: 768px) {
  .logo-container {
    padding-block: 2.8rem 3.2rem;
  }
}
