:root {
  font-size: 10px;
  --max-width: 110rem;
  --side-margins: 2rem;

  /* Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);



  /* Headers */
  --fs-header-xl-desktop: 5.6rem;
  --fs-header-xl-mobile: 4rem;
  --fs-header-xl: var(--fs-header-xl-desktop);
  --lh-header-xl-desktop: 5.6rem;
  --lh-header-xl-mobile: 4rem;
  --lh-header-xl: var(--lh-header-xl-desktop);
  --fw-header-xl: 800;

  --fs-header-l-desktop: 4rem;
  --fs-header-l-mobile: 3.2rem;
  --fs-header-l: var(--fs-header-l-desktop);
  --lh-header-l-desktop: 4rem;
  --lh-header-l-mobile: 3.2rem;
  --lh-header-l: var(--lh-header-l-desktop);
  --fw-header-l: 700;

  --fs-header-m: 3.2rem;
  --lh-header-m: 3.2rem;
  --fw-header-m: 700;

  --fs-header-s: 2rem;
  --lh-header-s: 2.4rem;
  --fw-header-s: 800;

  --fs-header-xs: 1.8rem;
  --lh-header-xs: 2.4rem;
  --fw-header-xs: 800;
    
  /*  Paragraph */
  --fs-paragraph: 1.5rem;
  --lh-paragraph: 2.6rem;
  --fw-paragraph: 400;

  /*  Button */
  --fs-button: 1.4rem;
  --lh-button: 1.4rem;
  --ls-button: 0.44rem;
  --fw-button: 700;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  height: 100svh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--off-white);
}
p {
  font-size: var(--fs-paragraph);
  line-height: var(--lh-paragraph);
  font-weight: var(--fw-paragraph);
  color: var(--dark-grayish-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--soft-red);
}

.container {
  width: min(var(--max-width), 100% - (2 * var(--side-margins)));
  margin-inline: auto;
}

@media (max-width: 768px) {
  :root {
    --fs-header-xl: var(--fs-header-xl-mobile);
    --lh-header-xl: var(--lh-header-xl-mobile);
    --fs-header-l: var(--fs-header-l-mobile);
    --lh-header-l: var(--lh-header-l-mobile);
  }
  .container {
    --side-margins: 1rem;
  }
}