.main-page-grid-container {
  display: grid;
  grid-template-columns: 73fr 35fr;
  grid-template-rows: auto auto;
  gap: 7rem 3rem;
  grid-template-areas: "hero-container column-news"
                        "row-news row-news";
}

@media (max-width: 768px) {
  .main-page-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}